/* HEADER */

header{
    background: black;
    margin-bottom: 0px;
    position: relative;
    z-index: 3;
    box-shadow: 3px 3px 3px rgba(0,0,0, 0.5);
}

div.header-container{
    margin: 0 auto;
    max-width: 1080px;
    padding: 1.2rem;
    font-family: 'helveticaNeue-light', 'Arial', sans-serif;
}

.header-container  h1{
    margin: 0px;
}

.header-links-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-links{
    color: white;
    text-decoration: none;
    padding-top: 1%;
}

.header-links:hover{
    color: #CFB87C;
}

#social-icons-div > a{
    padding-right: .5em;
}

a.current-main-menu{
    color: #CFB87C;
    text-decoration: underline;
}

a > img{
    margin-bottom: 0px;
}

#mobile-menu-icon > img{
    display: none;
}
#header-icons-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#show-more-icon{
    display: none;
}

#dropdown-content{
    display: none;
}

/* FEATURED WORKS FORM */

#submit-project-form input, textarea{
    margin-bottom: 1em;
    margin-top: .5em;
}

.submit-project-button{
    background-color: white;
    width: 10em;
    height: 3em;
    border: 1px solid black;
}

.submit-project-button:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
    letter-spacing: 2px;
    transition: color 300ms;
}

/* PAGE BODY */

.page-body-content{
    margin:0 auto;
    max-width: 1080px;
    padding: 0px 1.0875rem 1.45rem;
    padding-top: 0;
}

main{
    min-height: 55vh;
}

hr{
    margin-top: 1em;
}


/* SUB Links */

.side-menu-links{
    display: flex;
    padding: 1.5em;
    flex-wrap: wrap;
    margin-left: 3em;
    margin-right: 3em;
}

.submenu{
    margin-top: 3em;
    margin-right: 1%;
}

.sub-menu-link{
    text-decoration: none;
    color: black;
    padding: 1em;
    border: 1px solid black;
}

a.sub-menu-link:hover{
    background-color: black;
    color: #CFB87C;
    transition: background-color 500ms;
}

.current-path{
    letter-spacing: 2px;
    background-color: black;
    color: #CFB87C;
}


/* FOOTER */

.footer-tam{
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 1em;
}

.footer-tam hr{
    border-top: 1px solid grey;
    margin-top: 1em;
}

.footer-tam span{
    margin-left: 2em;
}

.footer-tam-links{
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-tam-links ul{
    margin: 0px;
}

.footer-tam-links li{
    list-style-type: none;
    font-size: 90%;
    color: #CFB87C;
}

.footer-tam-links li > a{
    font-size: 90%;
    color: #CFB87C;
}

/* CHECKOUT ITEMS PAGE */

.checkout-item-flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.checkout-item-child{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 1rem;
    max-width: 14rem;
}
.checkout-item-child img{
    display: block;
    border-radius: 5px 5px 0 0;
}

.checkout-item-child a{
    text-decoration: none;
}

/* CURRENT SEMESTER COURSES */

.course-info{
    /* border: 1px solid black; */
    margin-bottom: 1em;
    padding: 1% 1%;
}
.course-title{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

table, tr, th{
  border: none;
  text-align: center;  
}

tr{
    border-bottom: 1px solid black;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

/* NEXT SEMESTER BUTTONS */

button.sort-button{
    margin-right: 1em;
    margin-bottom: 2em;
    border: 1px solid black;
    background-color: white;
    color: black;
    width: 150px;
    height: 50px;
}

button.current-sort{
    background-color: black;
    color: white;
}

.next-sem-courses{
    margin-top: 1.2em;
}

/* FEATURED WORKS PAGE */

#featured-title, #featured-desc{
    text-align: center;
}

#featured-gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    margin-bottom: 1em;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
    transition: 0.3s;
}
.card-content{
    padding: .5em;
}
.card-content > h3{ margin : 5px;}
.card-content > p{ margin: 5px; padding-left: 0px;}

/* Faculty and Staff */

.faculty-container{
    display: flex;
}
.faculty-container > img{
    border-radius: 50%;
}
.faculty-content{
    margin-left: 2em;
}

/* Mobile styles */

@media only screen and (max-width: 930px){
    html {
      font-size: 100%;
    }
    h1{
      font-size: 3.5em;
    }
    #show-more-icon{
        display: inline-block;
        margin-bottom: 0px;
    }
    #social-icons-div{
        display:none;
    }
    #dropdown-content.show-tab{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 105px;
        right: 0px;
        z-index: 5;
        padding: 1em;
        background-color: black;
    }
    #dropdown-content.no-tab{
        display: none;
    }
    #dropdown-content > a {
        color: white;
        text-decoration: none;
        margin-bottom: .75em;
    }
    #dropdown-content > a:hover{
        color: #CFB87C; 
    }
    .side-menu-links{
      margin-left: 0px;
    }
    .header-links.drop{
        display: none;
    }
    #featured-gallery{
        justify-content: space-around;
    }
}

@media only screen and (max-width: 670px){
    html {
      font-size: 100%;
    }
    .footer-tam-links{
      flex-direction: column;
      text-align: center;
    }
    ul{
      margin-left: 1em;
    }
      
    .header-container{
        height: 100vh;
    }
    .header-container.hide{
        height: unset;
    }
    #atls-logo{
        width: 40%;
    }
  
    #mobile-menu-icon > img{
        display: inline-block;
        width: 60px;
        margin-bottom: 0px;
    }
  
    .header-links-flex.hide{
        display: none;
    }
    .header-links-flex.show{
        display: flex;
    }
    .header-links-flex{
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .header-links{
        margin-bottom: 1em;
        font-size: 1.5em;
    }
    .header-links.drop{
        display: block;
    }
    #show-more-icon{
        display:none;
    }
    #social-icons-div{display: block;}
    #social-icons-div > a{
        padding-left: .5em;
        padding-right: .5em;
    }
    #dropdown-content.no-tab{
        display: none;
    }
  
    .centered-subtitle-text{
        flex-direction: column;
        top: 70%;
    }
  
    .centered-subtitle-text > h3{
        font-size: 1.5em;
        text-align: center;
    }
  
    .side-menu-links{
        margin-left: 1em;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 1.5em;
    }

    #featured-gallery{
        padding-left: 1.5em;
    }
    .faculty-container{
        flex-wrap: wrap;
    }
    .faculty-container > img{
        margin-left: 20%;
    }

    #submit-project-form > input {
        border: 1px solid black;
    }
    #submit-project-form > textarea {
        border: 1px solid black;
        width: 100%;
    }
  }
