/* TRANSITIONS */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes hoverButton {
    from { 
        background-color: white;
        color: black;
        border: 1px solid black;
    }
    to   {
        background-color: black;
        color: white;
        border: 1px solid white;
    }
}

/* HEADER */

header{
    background: black;
    margin-bottom: 0px;
    position: relative;
    z-index: 3;
    box-shadow: 3px 3px 3px rgba(0,0,0, 0.5);
}

div.header-container{
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem;
    font-family: 'helveticaNeue-light';
}

.header-container  a{
    color: #CFB87C;
    text-decoration: none;
}

.header-container  h1{
    margin: 0px;
}

.header-links-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.header-links{
    color: white;
    text-decoration: none;
    padding-top: 1%;
}

a > img{
    margin-bottom: 0px;
}


/* FEATURED WORKS FORM */

#submit-project-form input, textarea{
    margin-bottom: 1em;
    margin-top: .5em;
}

.submit-project-button{
    background-color: white;
    width: 10em;
    height: 3em;
    border: 1px solid black;
}

.submit-project-button:hover{
    -webkit-animation: hoverButton 300ms; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: hoverButton 300ms; /* Firefox < 16 */
     -ms-animation: hoverButton 300ms; /* Internet Explorer */
      -o-animation: hoverButton 300ms; /* Opera < 12.1 */
         animation: hoverButton 300ms;
         background-color: black;
         color: white;
         border: 1px solid white;
}

/* PAGE BODY */

.page-body-content{
    margin:0 auto;
    max-width: 960px;
    padding: 0px 1.0875rem 1.45rem;
    padding-top: 0;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
     -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
         animation: fadein 1s;
}

main{
    min-height: 55vh;
}

hr{
    margin-top: 1em;
}


/* SUB Links */

.side-menu-links{
    background-color: black;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    width:15%;
    padding: 1.5em;
    -webkit-animation: fadein 500ms; 
    -moz-animation: fadein 500ms;
     -ms-animation: fadein 500ms;
      -o-animation: fadein 500ms; 
         animation: fadein 500ms;
}

.sub-menu-links{
    list-style-type: none;
}

a.sub-menu-link{
    color: white;
    text-decoration: none;
}


/* FOOTER */

.footer-tam{
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 1em;
}

.footer-tam hr{
    border-top: 1px solid grey;
    margin-top: 1em;
}

.footer-tam span{
    margin-left: 1em;
}

.footer-tam-links{
    padding: 1em;
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-tam-links ul{
    margin: 0px;
}

.footer-tam-links li{
    list-style-type: none;
    font-size: 90%;
    color: #CFB87C;

}

/* CHECKOUT ITEMS PAGE */

.checkout-item-flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.checkout-item-child{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 1rem;
    max-width: 13rem;
}
.checkout-item-child img{
    display: block;
    border-radius: 5px 5px 0 0;
}

.checkout-item-child a{
    text-decoration: none;
}

/* CURRENT SEMESTER COURSES */

.course-info{
    /* border: 1px solid black; */
    margin-bottom: 1em;
    padding: 1% 1%;
}
.course-title{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

table, tr, th{
  border: 1px solid black;
  text-align: center;  
}

tr:nth-child(even) {
    background-color: #dddddd;
}